@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-vindo</h1>
    <p class="lead">Da 10 por favor!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Propaganda &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Depressão!</h2>
        <p>
            Te amamos Dani Dani ^^!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">+ Propaganda &raquo;</a></p>
    </div>
</div>